.logo {
    font-size: 24px;
    font-weight: 200;
}
.content {
    color: black;
    font-size: 50;
}
.ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 70px;
    padding-left: 0px !important;
}
.background-container {
    background-color: black;
}
.industries {
    color: white;
}
.contact {
    color: white; 
}
.navBarTopLi {
    display: inline-block;
    padding: 15px;
    font-weight: 700;
      }
.navBarTopUl {
    border: solid 1px black;
    width: 40%;
    margin: -70px 150px 50px 150px;
    border-radius: 50px;
    background-color: rgb(233, 233, 240);
    text-align: center;
      }
.navigation {
    justify-content: center;
}
body {
    font-family: "Semplicita Pro", sans-serif;
  }
button {
      font-family: "Semplicita Pro", sans-serif;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }